.sessionContainer .tabshareBrowser {
    width: 400px;
    height: 300px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.sessionContainer .tabshareBrowser .tabshareBrowserTitle {
    background-color: #38f;
    padding: 2px 5px;
    height: 20px;
    line-height: 20px;
}

.sessionContainer .tabshareBrowser .tabshareBrowserContent {
}

.sessionContainer .tabshareBrowser .tabshareBrowserContent .dgrid-scroller {
    margin-top: 0;
}