<div>
    <div data-dojo-type="dijit.layout.BorderContainer" class="tabshareBrowser" data-dojo-props="gutters: false">
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'" class="tabshareBrowserTitle"
             data-dojo-attach-point="titleBar">
            Herp
        </div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'" class="tabshareBrowserContent"
             data-dojo-attach-point="contentBox">
         </div>
    </div>
</div>